# Ambiente Virtual
.venv/
venv/
env/

# Banco de Dados Local
db.sqlite3
*.db

# Configurações Sensíveis
.env

# Arquivos temporários do Python
__pycache__/
*.pyc

# Docker
.docker/

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Pasta de arquivos estáticos e media
/static/
/media/

# Pasta de volumes do Banco de Dados (Docker)
postgres_data/
pgdata/
data/
